.container {
  margin-bottom: 5rem;
}

.wrapper {
  width: 90%;
  height: 6rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem auto;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.cartImage {
  width: 25%;
  height: 6rem;
}

.cartName {
  width: 45%;
  color: grey;
}

.total {
  padding: 1rem 0;
  font-weight: 700;
}

.right {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.updateQuantity {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 0.12rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.updateQuantityNum {
  border-radius: 0.2rem;
  font-weight: 700;
  background-color: rgb(12, 87, 12);
  flex: 1;
  padding: 0.5rem;
}

.updateQuantityMinus, .updateQuantityAdd {
  border-radius: 0.2rem;
  font-weight: 700;
  background-color: rgb(12, 87, 12);
  flex: 1;
  padding: 0.5rem;
}

.remove {
  padding: 0.5rem;
  width: 70%;
  text-align: center;
  color: rgb(224, 20, 20);
  border-radius: 0.2rem;
  font-weight: 600;
}

.proceed {
  background-color: rgb(12, 87, 12);
  color: white;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  text-decoration: none;
}

.empty {
  background-color: rgb(224, 20, 20);
  color: white;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
}

.emptycartmain {
  color: rgb(212, 193, 158);
  line-height: 2rem;
  background-color: black;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
}