.personal {
  margin-bottom: 5rem;
}

.paymentContainer {
  margin-bottom: 5rem;
}

.header {
  margin: 3rem auto;
  width: fit-content;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 20%;
  height: 0.15rem;
  background-color: rgb(100, 194, 226);
}

.first {
  background-color: rgb(100, 194, 226);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1rem;
  display: flex;
}

.second {
  background-color: rgb(100, 194, 226);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1rem;
  display: flex;
}

.check {
  width: 60%;
  height: 60%;
  margin: auto;
  color: white;
}

.navitem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.7rem;
}

.linktocart {
  text-decoration: none;
  color: black;
  width: fit-content;
  padding: 0.5rem 0.8rem;
  border: 1px solid grey;
  border-radius: 0.2rem;
}

.nextbtn {
  color: white;
  background-color: rgb(100, 194, 226);
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.2rem;
}

.checkoutnav {
  display: flex;
  margin: 2rem auto;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.personalheader, .paymentHeader {
  margin: 1rem auto;
  width: 90%;
  font-size: 1.2rem;
}

.form {
  width: 90%;
  margin: auto;
}

.label {
  color: grey;
  margin: 0.5rem auto;
}

.input {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  border: none;
  border-bottom: 1px solid rgb(100, 194, 226);
  background-color: rgb(210, 229, 235);
}

.input:focus {
  outline: none;
  border: 1px solid rgb(100, 194, 226);
}

.stripeWrapper {
  width: 90%;
  margin: auto;
}

.emptyField {
  color: red;
  width: fit-content;
  margin: auto;
}

.summary {
  width: 90%;
  margin: 2rem auto;
  line-height: 1.5rem;
}

.individual {
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  color: black;
}

.name {
  font-size: 1.3rem;
}

.quantity {
  color: rgb(146, 140, 140);
}

.total {
  font-size: 1.2rem;
  font-weight: 600;
}

.totalFigure {
  font-size: 1.1rem;
  font-weight: 600;
}

.priceSummary {
  line-height: 2rem;
  margin: 1rem auto;
}