.check {
  background-color: rgb(44, 43, 43);
  color: white;
  padding: 0.5rem 1.5rem;
  margin: auto;
  position: absolute;
  bottom: 5%;
  left: 3%;
  border-radius: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .check {
    font-size: 1rem;
  }
}