.container {
  margin-bottom: 5rem;
  overflow: hidden;
}

.header {
  background: url(../resources/banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mockup1 {
  height: auto;
  width: 20rem;
}

.welcome {
  display: block;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  height: fit-content;
  width: 20rem;
}

.welcomebig {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.welcomesmall {
  font-size: 1.5rem;
}

.reliability {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.delivery {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.customerservice {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.whyus:nth-of-type(2) {
  flex-wrap: wrap-reverse;
}

.whyusanswers {
  width: 25rem;
  padding: 3rem;
  box-sizing: border-box;
}

.question {
  font-size: 2rem;
  font-weight: 700;
  width: fit-content;
  margin: 3rem auto;
}

.answer {
  line-height: 1.6rem;
}

.mockup2 {
  width: 25rem;
}