.navcontainer {
  background-color: whitesmoke;
  height: 3rem;
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 0.1rem solid grey;
  }

  .home {
    mask-image: url(../resources/house.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  .cart {
    mask-image: url(../resources/cart.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  .profile {
    mask-image: url(../resources/user.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  .shopping {
    mask-image: url(../resources/shop.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  .cartNo {
	position: absolute;
	right: 32%;
	top: 5%;
	font-weight: 900;
	width: 1.5rem;
	height: 1.5rem;
	color: white;
	background-color: #6686D9;
	display: flex;
	justify-content: center;
	align-items: center;
  text-decoration: none;
	border-radius: 100%;
}

  @media screen and (min-width: 820px) {
    .navcontainer {
      width: 820px;
      margin: auto;
    }

	.cartNo {
		position: absolute;
		right: 34.5%;
	}
  }

  @media screen and (max-width: 360px) {
	.cartNo {
		position: absolute;
		right: 31%;
	}
  }