.navcontainer {
  background-color: whitesmoke;
  height: 3rem;
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 0.1rem solid grey;
  }

  .home {
    mask-image: url(../resources/house.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  .cart {
    mask-image: url(../resources/cart.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
    color: red;
  }

  .profile {
    mask-image: url(../resources/user.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  .shopping {
    mask-image: url(../resources/shop.svg);
    height: 1.5rem;
    width: 1.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: grey;
  }

  @media screen and (min-width: 820px) {
    .navcontainer {
      width: 820px;
      margin: auto;
    }
  }