.wrapper {
  width: 100%;
  height: fit-content;
  margin: 1rem auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.productImage {
  width: 100%;
  height: fit-content;
}

.spinner {
  position: absolute;
  margin: auto;
  width: fit-content;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
  margin-bottom: 5rem;
}

.productDesc {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
}

.desc {
  padding: 1rem;
}

.dd {
  font-size: 1.5rem;
}

.desc .name {
  font-size: 1.5rem;
  font-weight: 500;
}

.nameFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addToCart {
  height: 1.5rem;
  width: 1.5rem;
  mask-image: url(../resources/addToCart.svg);
  background-color: black;
  mask-repeat: no-repeat;
  mask-position: center;
  margin: 0.25rem;
}

.shortdesc {
  padding: 1.5rem 0;
  line-height: 1.5rem;
  color: black;
}