.profile {
  color: rgb(212, 193, 158);
  background-color: black;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

.individualOrder {
  font-size: 0.9rem;
  color: grey;
  font-weight: 600;
  box-sizing: border-box;
  width: 775px;
  gap: 0.2rem;
  margin: 1rem 1.4rem;
  display: flex;
  justify-content: flex-start;  
  border-bottom: 0.5px solid rgb(220, 241, 241);
}

.loggedIn {
  margin-top: 1rem;
}

.id {
  color: rgb(94, 36, 36);
}

.customer {
  color: rgb(94, 36, 36);
}

.address {
  color: rgb(94, 36, 36);
}

.logout {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
  height: 3rem;
}

.logoutbtn {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid rgb(94, 36, 36);
  background-color: rgb(224, 20, 20);
  color: white;
}

.loginform {
  width: 90%;
  height: fit-content;
  margin: 5rem auto;
}

.emailinput {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 0.3rem;
  padding: 1rem;
}

.emailinput:focus {
  border: 1px solid #166FE6;
}

.loginbtn {
  margin-top: 1.5rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: #166FE6;
  font-size: 1.25rem;
  color: white;
  border: 1px solid #166FE6;
}

.noorder {
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
}

.spinner {
  position: absolute;
  margin: auto;
  width: fit-content;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.checkyourmail {
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 1.5rem;
  color: grey;
}

.emailempty {
  color: rgb(224, 20, 20);
}

.trackOrders {
  width: fit-content;
  margin: auto;
  color: grey;
}

.heading {
  font-size: 0.9rem;
  color: grey;
  font-weight: 600;
  box-sizing: border-box;
  width: 775px;
  gap: 0.2rem;
  margin: 1rem 1.4rem;
  display: flex;
  justify-content: flex-start;
}

.item {
  flex: 1;
  background-color: rgb(220, 241, 241);
  padding: 0.6rem 1.5rem;
  border-radius: 0.2rem;
}

.orders {
  overflow-x: scroll;
}

.orderdetail {
  flex: 1;
  border-radius: 0.2rem;
  padding: 0.6rem 1.5rem;
}