.sale {
  margin-top: 2rem;
}

.header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  font-size: 2.5rem;
  font-weight: 600;
}

dd {
  margin: 0;
  padding: 0;
  color: grey;
  font-size: 1rem;
}

section {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1rem;
  margin: 1rem;
}

figure {
  width: 15rem;
  height: 20rem;
  margin: 0;
  position: relative;
}

.product {
  height: 15rem;
  width: 11rem;
  border-radius: 1rem;
}

p {
  margin: 0;
}

.model {
  color: grey;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
}

.price {
  color: rgb(224, 29, 29);
}

.price s {
  color: grey;
  margin-right: 0.5rem;
}

.discount {
  position: absolute;
  background-color: rgb(224, 29, 29);
  z-index: 2;
  color: whitesmoke;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  left: 0.5rem;
  top: 0.5rem;
}