.sale {
  margin: 1rem 0;
  margin-bottom: 5rem;
}

.allProducts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}

.header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  font-size: 2.5rem;
  font-weight: 600;
}

dd {
  margin: 0;
  padding: 0;
  color: rgb(136, 23, 23);
  font-size: 1rem;
}

.individualFig {
  width: 20rem;
  height: 20rem;
  margin: auto;
}

.progress {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.product {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
}

p {
  margin: 0;
}

.model {
  color: grey;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
}

.price {
  color: rgb(224, 29, 29);
}

.link {
  text-decoration: none;
  color: inherit;
  margin: auto;
}